<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head"></head>
<body>
<h3>Modify Product</h3>
<p><a th:href="@{/}">Back Product List</a></p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}"/>
        </div>
        <div>
            <label>Photo</label>
            <input type="text" th:field="*{photo}"/>
        </div>
        <input type="submit" value="Modify"/>
    </form>
</div>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<footer th:replace="/layout::head"></footer>
</body>
</html>